@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box-2 {
    width: 345px;
    height: 469px;
    background: #D9D9D9;


}

.box-text1 {
    color: #000;
    font-family: Inter;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box-text {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

}

.box {
    width: 75px;
    height: 39px;
    background: #fff;
}

.news-box {
    width: 52px;
    height: 20px;
    background: #e7e6ec;
    margin-left: 2px;
}

.news-box2 {
    width: 180px;
    height: 90px;
   
}

.news-box3 {
  
    
    
    padding: 3px;
    /* margin-left: 15px; */
}
.news-box2 {
    width: 40%;
    height: 80px;
    background: #F5F5F5;
    /* margin-left: 15px; */
}