/* font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

:root{
    --primary: rgb(247, 245, 250);
  --secondary: #606BD0;
}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
   
    scrollbar-width: thin;
    /* scrollbar-color: #606BD0; */
    scrollbar-color: var(--secondary) var(--primary);
}



.group:hover .absolute {
    display: block;
  }